@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.5px;
}

:root {
  --text-font-size: 20px;
  --sub-text-color: #9c9da2;
  --main-color: #38b1d3;
  --button-background-color: #0e1d3c;
  --button-height: 66px;
  --background-color: #0e1d3a;
}

.title_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  position: fixed;
  right: 35px;
  top: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right img {
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .title_img {
    width: 70%;
  }
}

@media screen and (max-width: 430px) {
  .title_img {
    width: 60%;
  }
}