.section {
  background-color: #0d92d5;
  padding: 150px 0;
}

.section > div {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check {
  margin-top: 52px;
}

.all {
  margin-bottom: 56px;
}

.check_span {
  cursor: pointer;
}

.all .check_span {
  font-size: 2.8rem;  
  color: #fff;
  font-weight: bold;
}

.subcheck .check_span {
  font-size: 2rem;  
  font-weight: bold;
  color: #96dcff;
  display: flex;
  align-items: center;
}

.subcheck > div {
  margin-bottom: 10px;
  display: block;
}

.subcheck .check_span a {
  font-size: 2.3rem;
  color: #fff;
  margin-left: 27px;
  font-weight: bold;
  position: relative;
}

.subcheck .check_span a:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-top: 3px;
  position: absolute;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 92px;
}

.compelete {
  color: #2d2b7b;
}

@media screen and (max-width: 1200px) {
  .section > div {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 640px) {
  .section .input > div > div {
    width: 100% !important;
  }

  .section > div {
    padding: 0 40px
  }

  .check_span {
    line-height: 1.4;
  }
  
  .all .check_span {
    font-size: 2.4rem;
  }

  .subcheck .check_span {
    font-size: 1.7rem;  
  }

  .subcheck .check_span a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .section > div {
    padding: 0 20px
  }
  
  .subcheck .check_span a {
    width: 110px;
  }
  
  .section {
    padding: 100px 0;
  }
  
  .subcheck .check_span {
    font-size: 1.4rem;  
  }
}

@media screen and (max-width: 430px) {
  .section {
    padding: 50px 0;
  }

  .input > div:last-child > div > div:first-child {
    display: none;
  }

  .input > div:last-child > div > div {
    padding: 0 10px;
  }
}