.section {
  position: relative;
  background-position: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1681px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.text {
  top: 0;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 50%;
}

.title {
  margin-top: 75px;
}

.content {
  margin-top: 160px;
  width: 100%;
}

.content img {
  width: 100%;
}

.content a {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}

.content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}

.container {
  margin-top: 50px;
  box-shadow: 0 5px 18px 0 rgb(0 0 0);
}

.youtube {
  display: block;
}

.youtube img {
  box-shadow: 0 5px 18px 0 rgb(0 0 0);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.prev {
  left: -62px;
}

.next {
  right: -62px;
}


@media screen and (max-width: 1250px) {
  .container {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .title {
    margin-top: 7%;
  }
  
  .content {
    margin-top: 15%;
  }

  .content iframe {
    width: calc(100% - 100px);
    left: 50%;
    transform: translateX(-50%);
  }
}


@media screen and (max-width: 1200px) {
  .text {
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .subtext + img {
    width: 100%;
    max-width: 1100px;
  }
}

@media screen and (max-width: 800px) {
  .title img {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .title img {
    width: auto;
    height: 50px;
  }

  .title {
    margin-top: 12%;
  }

  .container {
    margin-top: 10%;
  }

  .section {
    background-position-y: -30px;
  }
    
  .content {
    margin-top: 23%;
  }

  .section {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    margin-top: 20%;
  }
}

@media screen and (max-width: 450px) {
  .title img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .arrow {
    width: 20px;
  }
  
  .prev {
    left: -42px;
  }

  .next {
    right: -42px;
  }

  .title {
    margin-top: 10%;
  }

  .content {
    margin-top: 17%;
  }

  .section {
    padding-bottom: 50px;
  }
}